<section class="github_repositories_list">
    <div class="grid-container">
            <p><strong><%= link_to " < Back to products", account_products_path %></strong></p>
            <h2>Github repositories</h2>
            <% if @github_repositories %>
                    <% @github_repositories.each do |repository| %>
                    <div class="card_repo">

                        <div class="grid-x">
                            <div class="cell large-1">
                                <%= image_tag("GitHub-Mark-64px.png", class: "brighter-span") %>
                            </div>
                            <div class="cell large-9 flex_center">
                                <div>
                                    <h3><%= current_user.github_login + "/" + repository.name %> </h3>
                                    <strong><%= repository.language %></strong>
                                </div>
                            </div>
                            <div class="cell large-2 flex_center">
                                <div>
                                    <% unless current_user.products.where(github_repo_id: repository.id).exists? || repository.language.nil? || repository.language.parameterize != 'ruby' %>
                                        <%= link_to "Import", account_products_import_repo_url(repository.id), class:"button"%>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>
            <% else %>
                <p>You don't have repository...</p>
            <% end %>
        </div>
</section>
