<%= render "account/menu" %>

<section class="dashboard">
    <div class="grid-container">
        <div class="grid-x">
            <div class="form_section">
            <div class="cell">
                <h2>Your purchases</h2>


                <% unless @orders.empty? %>

                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Product ID</th>
                                <th>Product name</th>
                                <th>Amount (CAD)</th>
                                <th>File</th>
                                <th>Receipt (PDF)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @orders.each do |order| %>

                            <%
                            Octokit.configure do |c|
                                c.access_token = order.product.user.github_token
                            end

                            # Récupération de l'utilisateur
                            @archive_link = Octokit.archive_link(order.product.user.github_login+"/"+order.product.github_repo_name)
                             %>
                            <tr>
                                <td><%= order.created_at.in_time_zone('Eastern Time (US & Canada)') %></td>
                                <td><%= order.product_id %></td>
                                <td><%= order.product_name %></td>
                                <td><%= number_to_currency(order.amount) %></td>
                                <td>
                                    <%= link_to order.digital_product.filename, rails_blob_path(order.digital_product, disposition: "attachment") unless !order.digital_product.attached? %>
                                    <% if order.product.allow_latest_version %>
                                    / <%= link_to "Latest", @archive_link, id: "download_link" ,  data: { turbolinks: false } %>
                                    <% end %>
                                </td>
                                <td><%= link_to 'receipt', account_purchases_receipt_path(order.id, :format => :pdf) %></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>

                <% else %>
                    <p>No purchases yet.</p>
                <% end %>
            </div>
        </div>
        </div>
    </div>
</section>
