<h1>commitmarket.com</h1>
<h2>Payment receipt  # <%= @order.id %> - <%=  @product.title %></h2>
<p>
    We received payment for <%=  @product.title %> by <%= @product.user.name.full %>. <br> Thanks for your purchase!<br>
</p>

------------------------------------

<h3>Order</h3>

<p>
    <ul>
        <li><strong>Date :</strong> <%= @order.created_at.in_time_zone('Eastern Time (US & Canada)') %> </li>
        <li><strong>Product name :</strong>  <%= @product.title %> (#id : <%= @product.id %> )</li>
        <li><strong>Author name :</strong>  <%= @product.user.name.full %></li>
        <li><strong>Account billed :</strong>  <%= @order.stripe_response_data['receipt_email'] %></li>
        <li><strong>Amount :</strong>  <%= number_to_currency(@order.amount) %></li>
    </ul>
</p>

<h3>Transaction</h3>
<% unless @order.stripe_response_data.empty? %>
<p>
    Charged to: <%= @order.stripe_response_data['source']['brand'] %> (**** **** **** <%= @order.stripe_response_data['source']['last4'] %>)<br>
    Transaction ID: <%= @order.id %><br>
    Date: <%= @order.created_at.in_time_zone('Eastern Time (US & Canada)') %><br>
</p>

<% else %>
<p>No Transaction data...</p>
<% end %>

<h3>Licence</h3>

<p>
    This purchase allows you, the buyer, to :
    <ul>
        <li>Access the product by downloading it from your account</li>
        <li>have the right to use the product inside a project</li>
    </ul>

</p>
    This purchase don't allow you to :
    <ul>
        <li>Resell or redistribute the product as is</li>
        <li>become the owner of the product itself</li>
    </ul>

</p>


------------------------------------
<p>
    <strong>COMMITMARKET.COM</strong><br>
    340 Chemin des Pionniers EST <br>
    G0R2BO <br>
    L'Islet, Quebec, Canada <br>
</p>

------------------------------------

<p>Questions? Please contact <strong>support@commitmarket.dev</strong>.</p>
