<h1>Ventes</h1>

<table>
    <thead>
        <tr>
            <th>Numéro</th>
            <th>Date</th>
            <th>Vendeur</th>
            <th>Acheteur</th>
            <th>Produit</th>
            <th>Prix</th>
            <th>Comm.</th>
        </tr>
    </thead>
    <tbody>
        <% @orders.each do |order| %>
            <tr>
                <td><%= order.id %></td>
                <td><%= order.created_at %></td>
                <td><%= order.seller.email unless order.seller.nil? %></td>
                <td><%= order.user.email %></td>
                <td><%= order.product_name %></td>
                <td><%= number_to_currency(order.amount) %></td>
                <td><%= number_to_currency(order.fees_amount) %></td>
            </tr>
        <% end %>
    </tbody>
</table>
