<%= render "account/menu" %>

<section class="account_profile">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell large-12">
                <%= form_for :user do |f| %>
                <div class="form_section">

                    <h2>Billing informations</h2>

                    <%= f.label :company_name %>
                    <%= f.text_field :company_name %><br />
                    <div class="grid-x grid-margin-x">
                        <div class="cell large-6">
                            <%= f.label :first_name %>
                            <%= f.text_field :first_name, required: true %><br />
                        </div>
                        <div class="cell large-6">
                            <%= f.label :last_name %>
                            <%= f.text_field :last_name %><br />
                        </div>
                    </div>
                    <%= f.label :email %>
                    <%= f.text_field :email, required: true %><br />


                </div>
            </div>
            <%= f.submit 'Update your profile', class:"button" %>
            <% end %>
        </div>
    </div>
</section>
