<%= form_for([:admin, @product]) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title,required: true %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description,required: true %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price,required: true %>
  </div>

      <h3>Your digital Product</h3>

        <% if product.digital_product.attached? %>
            <div id="file_<%= product.digital_product.id %>">
                <%= link_to product.digital_product.filename, rails_blob_path(product.digital_product, disposition: "attachment") %> -
                <%= link_to "Delete", account_product_remove_file_url(product.id), remote: true, :data => {  confirm: "Are you sure?", :file => product.digital_product.id, :action => 'file' } %>
            </div>
        <% else %>
            <%= form.file_field :digital_product,required:true %>
        <% end %>

        <div id="digital_product_upload"></div>


  <h3>Screenshots</h3>

  <% product.screenshots.each do |screenshot| %>
      <%  unless screenshot.blob.nil?  %>
          <div class="cell " id="screenshot_<%=  screenshot.id %>">
              <%= image_tag rails_blob_url(screenshot, only_path: false), width: "250px"%>
              <p>
                  <br>
                  <%= link_to "Delete screenshot", account_product_remove_screenshot_url(product.id, screenshot.id), remote: true, :data => {  confirm: "Are you sure?", :screenshot => screenshot.id, :action => 'screenshot' } %>
              </p>
          </div>
      <% end %>
  <% end %>

  <%= form.file_field :screenshots, label: "Screenshots of your product", :multiple => true %>

  <h3>Demo</h3>
  <div class="field">
    <%= form.label :demo_link %>
    <%= form.text_field :demo_link,required: true %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script type="text/javascript">
    $('a[data-remote]').on('ajax:success', function(event){

        if(this.dataset.file != 'undefined' && this.dataset.action == 'file')
        {
            $('#file_'+ this.dataset.file).remove();
            $('#digital_product_upload').append("<input type='file' name='product[digital_product]' id='product_digital_product' required='required'>");
        }

        if(this.dataset.screenshot != 'undefined' && this.dataset.action == 'screenshot')
        {
            $('#screenshot_'+ this.dataset.screenshot).remove();
        }
    })
</script>
