<h1>Produits</h1>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Numéro</th>
            <th>Nom</th>
            <th>vues</th>
            <th>ventes</th>
            <th>Vendeur</th>
        </tr>
    </thead>
    <tbody>
        <% @products.each do |product| %>
            <tr>
                <td><%= product.id %></td>
                <td><%= link_to product.title, edit_admin_product_url(product) %></td>
                <td><%= number_to_currency(product.price) %></td>
                <td><%= product.views_count %></td>
                <td><%= product.orders.count %></td>
                <td><%= link_to product.user.email, edit_admin_user_path(product.user.id) %></td>
            </tr>
        <% end %>
    </tbody>
</table>
