<h1>Clients</h1>

<table>
    <thead>
        <tr>
            <th>Nom complet</th>
            <th>Entreprise</th>
            <th>Email</th>
            <th>Vendeur</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.first_name %> <%= user.last_name %></td>
                <td><%= user.company_name %></td>
                <td><%= user.email %></td>
                <td><%= user.is_seller? ? 'oui' : 'non' %></td>
                <td><%= user.deleted_at.nil? ? 'Actif' : 'Inactif' %></td>
                <td><%= link_to 'Editer', admin_user_path(user) %></td>
            </tr>
        <% end %>
    </tbody>
</table>
