<section class="download_header">
    <div class="grid-container">
        <div class="grid-x">
           <h1>Checkout</h1>
        </div>
    </div>
</section>

<%= form_tag product_buy_path(@product.id,@product.slug) do %>

<section class="checkout">
    <div class="grid-container">

            <div class="grid-x grid-margin-x grid-margin-y">

                <div class="cell large-9">

                    <% unless @product.screenshots.empty? %>
                        <div class="owl-carousel owl-theme">
                            <% @product.screenshots.each_with_index do |screenshot,index| %>
                                <div><%= image_tag rails_blob_path(screenshot),class:"screenshot_product" %></div>
                            <% end %>
                        </div>
                    <% else %>
                        <div><%= image_tag('placeholder_no_screenshot.png') %></div>
                    <% end %>
                </div>
                <div class="cell large-3 margin-y">

                    <h2><%= @product.title.truncate(60, separator: ' ') %></h2>
                    <h6 class="subheading">
                        <span>
                            Author: <%= @product.user.first_name + " " + @product.user.last_name %>
                        </span>
                    </h6>

                    <p>
                        Total : <strong><%= number_to_currency(@product.price) %> CAD</strong>
                    </p>



                    <hr>
                    <noscript>You must enable javascript in your web browser in order to pay via Stripe.</noscript>
                        <% unless @product.user.stripe_user_id.nil? || @product.user.github_token.nil? %>
                      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                              data-key="pk_test_dW5vT9Lz5gHEd5UlGtcB1AOY00yLyxqEON"
                              data-email="<%= current_user.email %>"
                              data-name="commitmarket.com"
                              data-image="<%= 'http://localhost:3000/assets/logo_commitmarket_stripe_checkout.png' %>"
                              data-description="<%= @product.title %>"
                              data-amount="<%= @product.price * 100 %>"
                              data-currency="cad"
                              data-locale="fr"></script>
                    <% else %>
                        <div class="callout alert"><strong>This product is not available. Please contact the support</strong></div>
                        <%= link_to 'Back to the catalog', explore_url %>
                    <% end %>
                    <br>
                    <br>
                    <p>
                        <strong>
                            By purchasing this digital product, you agree with our
                            <%= link_to "Privacy policies", legal_privacy_policies_url, class: 'link' %> and  <%= link_to "Terms of Services", legal_terms_of_services_url, class: 'link' %>.
                         Note : No refund or support available for this product.</strong>
                    </p>
                    </div>
            </div>

        </div>

</section>
<% end %>
