<section class="download_header">
    <div class="grid-container">
        <div class="grid-x">
           <h1>Download</h1>
        </div>
    </div>
</section>

<section class="download">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell large-10">
                <h2><%= @product.title.truncate(60, separator: ' ') %></h2>
                <h6 class="subheading">
                <strong>Author :</strong> <%= @product.user.first_name + " " + @product.user.last_name %></h6>
            </div>
            <div class="cell large-2 flex_center">
                <div>
                    <% if @product.price == 0 %>
                        <%= link_to "Download your product", @archive_link, id: "download_link" ,  data: { turbolinks: false }, class:"button  primary"%>
                    <% end %>
                </div>
            </div>
            <div class="cell large-12">
                <hr>
                <p><strong>By downloading this digital product, you agree with our <%= link_to "Privacy policies", legal_privacy_policies_url, class: 'link' %> and  <%= link_to "Terms of Services", legal_terms_of_services_url, class: 'link' %>. Note : No refund or support available for this product.</strong></p>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $('#download_link').on('click', function(){
        $.ajax({
            url: "<%= product_download_register_url(@product.id, @product.slug) %>",
        });
    });
</script>
